<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Курсы валют</title>
</head>
<body>
<h3><strong>Настроение курса валюты к USD за 24ч</strong></h3>
<p><span><a href="https://curmood.afatech.ru/api/v1/currency-mood/RUB" target="_blank"
            rel="noopener">RUB</a></span></p>
<p><span><a href=" https://curmood.afatech.ru/api/v1/currency-mood/GBP" target="_blank"
            rel="noopener">GBP</a></span><span></span></p>
<p><span><a href=" https://curmood.afatech.ru/api/v1/currency-mood/EUR" target="_blank"
            rel="noopener">EUR</a></span></p>
<p><span><a href=" https://curmood.afatech.ru/api/v1/currency-mood/JPY" target="_blank"
            rel="noopener">JPY</a></span></p>
<p><span><a href=" https://curmood.afatech.ru/api/v1/currency-mood/AUD">AUD</a></span></p>
<p><span><a href=" https://curmood.afatech.ru/api/v1/currency-mood/NZD" target="_blank"
            rel="noopener">NZD</a></span></p>
<p><a href=" https://curmood.afatech.ru/api/v1/currency-mood/CAD" target="_blank"
      rel="noopener">CAD</a></p>
<p><a href=" https://curmood.afatech.ru/api/v1/currency-mood/CHF">CHF</a></p>
<p></p>
</body>
</html>